<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
      <img src="/images/<%=img%>" alt="" width="200px" height="200px">
    <h1 class="display-3"><%=textOne%></h1>
    <p class="secret-text">Я знал, что ты заглянешь в гости!)</p>
    <hr>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
